<html>
    <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="styles/message.css">
            <title>Blood Bank</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">BLOOD BANK</a>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="/messages">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  </ul>
                </div>
        </nav>
        <div class="container">
          <hr>
          <h5><%= name %></h5>
          <hr>
          <%  for(var i=0;i<=conv.length-1;i++){ %>
            <% if(conv[i]['uid']==user){ %>
                <div class="containerr normal">
                        <p><%= conv[i]['msg']%></p>
                      </div>
            <% } %>
       
            <% if(conv[i]['uid']==donor){ %>
          <div class="containerr darker">
            <p><%= conv[i]['msg']%></p>
          </div>
          <% } %>
          <%  } %>
          
          <!-- <div class="containerr normal">
            <p>Sweet! So, what do you wanna do today?</p>
          </div>
          
          <div class="containerr darker">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
          </div> -->
          <form action="/individual_msg" method="POST">
                <input type="text" name="donor" value=<%= donor %> hidden id="">
                <input type="text" name="msg" class="msg_send">
                <input type="submit" class="btn btn-primary posi but_pos" >
        </form>
        </div>

    </body>
    </html>